body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  display: flex;
  align-items: center;
  min-height: 40vh;
  background-image: url('./images/jumbotron_bg.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0;
  padding: 80px 0;
}


@media (max-width: 575px) {
  #jumboHeading {
    font-size: 2.6rem;
  }
}

.jumbotron .lead {
  max-width: 420px;
}

.jumbotron strong {
  font-weight: bold;
}

section {
  margin-bottom: 30px;
}

.navbar-brand {
  padding: 20px 0;
}

.logo--red {
  color: #E51B29;
}

.logo--blue {
  color: #0076B2;
}

.logo--green {
  color: #24A23F;
}

.contactDetails tr > td:first-child {
  padding-left: 0;
}

.contactDetails tr > td:last-child {
  padding-right: 0;
}

#services .card {
  border-radius: 0;
  border-color: #eee;
  border-bottom: 2px solid #0076B2;
}

a,
a:hover,
a:active,
a:visited {
  color: #0076B2;
}

.footer {
  margin-top: 40px;
  background: #343a40;
  padding: 60px 0;
}

.footer p {
  margin: 3px 0;
}
